*.obj
*.htm
*.idb
*.ilk
*.pdb
*.o
*.exp
*.user
*.suo
*.ncb
*.lib
*.log
*.manifest
*.manifest.res
*.exe
*.mesh
*.phys
*.class
*.lsh
*.dll
*.pyc
*.pyo
*.zip
*.mode1v3
*.pbxuser
mt.dep
stlport.res
makefile
.mayaSwatches
tmp
*.mel
Unicode Debug
Unicode Release Candidate
Unicode Final
Debug
Release Candidate
Final
/Life/LifeClient/LifeClient
/Life/LifeServer/LifeServer
/Life/LifeMaster/LifeMaster
/Life/XCode/build
/UiCure/CureTestApp/CureTestApp
/ThirdParty/stlport/build
/ThirdParty/Release
/bin/
Data/Download
Data/*.mb
Data/*.psd
*~
*.so
