*.obj
*.htm
*.idb
*.ilk
*.pdb
*.o
*.exp
*.user
*.suo
*.sdf
*.ncb
*.lib
*.log
*.manifest
*.manifest.res
*.exe
*.mesh
*.phys
*.class
*.lsh
*.dll
*.pyc
*.pyo
*.pk3
*.zip
*.mode1v3
*.pbxuser
*.bak
*.opensdf
mt.dep
stlport.res
makefile
Makefile
.mayaSwatches
tmp
*.mel
Unicode Debug
Unicode Release Candidate
Unicode Final
Debug
Release Candidate
Final
Release
ipch
*/*Xcode/build
/Life/LifeClient/LifeClient
/Life/LifeServer/LifeServer
/Life/LifeMaster/LifeMaster
/KillCutie/KillCutie
/KillCutie/Data/GrenadeRun
/Bounce/Bounce
/Push/Push
/Push/PushServer/PushServer
/Push/PushMaster/PushMaster
/SlimeVolleyball/SlimeVolleyball
/SlimeVolleyball/SlimeBall/build
/TireFire/Data/Maya
/TireFire/TireFire
/UiCure/CureTestApp/CureTestApp
Bound/Bound
Downwash/Downwash
Fire/Fire
HoverTank/HoverTankMaster/HoverTankMaster
HoverTank/HoverTankServer/HoverTankServer
HoverTank/HoverTank
Impuzzable/Impuzzable
TrabantSim/TrabantSim
TrabantIDE/tools/*.html
TrabantIDE/python34/
/ThirdParty/stlport/build
/bin/
*/Data/Download
*/Data/*.mb
*/Data/*.psd
*~
*.so
Doc/Dated
Doc/getting_real.pdf
Downwash/Icons/icon_data/
project.xcworkspace/
xcuserdata/
