*.obj
*.htm
*.idb
*.ilk
*.pdb
*.o
*.exp
*.user
*.suo
*.ncb
*.lib
*.log
*.manifest
*.manifest.res
*.exe
*.mesh
*.phys
*.class
*.lsh
*.dll
*.pyc
*.pyo
*.pk3
*.zip
*.mode1v3
*.pbxuser
*.bak
mt.dep
stlport.res
makefile
Makefile
.mayaSwatches
tmp
*.mel
Unicode Debug
Unicode Release Candidate
Unicode Final
Debug
Release Candidate
Final
/Life/LifeClient/LifeClient
/Life/LifeServer/LifeServer
/Life/LifeMaster/LifeMaster
/Life/XCode/build
/GrenadeRun/GrenadeRun
/GrenadeRun/GrenadeRunXcode/build
/SlimeVolleyball/SlimeVolleyball
/SlimeVolleyball/SlimeBall/build
/UiCure/CureTestApp/CureTestApp
/ThirdParty/stlport/build
/ThirdParty/Release
/bin/
*/Data/Download
*/Data/*.mb
*/Data/*.psd
*~
*.so
